/* line 1, D:/Programacion/gif-os-san/scss/_normalize.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
}

/* line 1, D:/Programacion/gif-os-san/scss/_header.scss */
.h-title {
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
  box-shadow: 0 1px 0 0 #110038;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  letter-spacing: 0;
}

/* line 10, D:/Programacion/gif-os-san/scss/_header.scss */
.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  margin-right: 9.8%;
  margin-top: 3.2%;
  margin-left: 6.3%;
}

/* line 17, D:/Programacion/gif-os-san/scss/_header.scss */
.navbar > img {
  position: absolute;
  left: 0;
  width: 102px;
  height: 64px;
}

/* line 25, D:/Programacion/gif-os-san/scss/_header.scss */
.navbar-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* line 28, D:/Programacion/gif-os-san/scss/_header.scss */
.navbar-div > a:nth-of-type(1) {
  font-size: 16px;
  font-weight: 500;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  padding: 9px 26.5px;
  background-color: #f7c9f3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  text-decoration: none;
  margin-right: 16px;
  position: relative;
  transition: background 0.2s ease;
}

/* line 36, D:/Programacion/gif-os-san/scss/_header.scss */
.navbar-div > a:nth-of-type(1)::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
}

/* line 45, D:/Programacion/gif-os-san/scss/_header.scss */
.navbar-div > a:nth-of-type(1):hover {
  background-color: #e6bbe2;
}

/* line 49, D:/Programacion/gif-os-san/scss/_header.scss */
.navbar-div > a:nth-of-type(1):hover::before {
  outline: 1px dotted #110038;
}

/* line 54, D:/Programacion/gif-os-san/scss/_header.scss */
.navbar-div > a:nth-of-type(2) {
  font-size: 16px;
  font-weight: 500;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  padding: 7px 0;
  padding-right: 20px;
  text-decoration: none;
  position: relative;
}

/* line 60, D:/Programacion/gif-os-san/scss/_header.scss */
.navbar-div > a:nth-of-type(2)::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 1px;
  background-color: #110038;
  bottom: 7px;
  left: 1px;
}

/* line 70, D:/Programacion/gif-os-san/scss/_header.scss */
.navbar-div > a:nth-of-type(2):hover {
  outline: 1px dotted #110038;
}

/* line 74, D:/Programacion/gif-os-san/scss/_header.scss */
.navbar-div > a:nth-of-type(2):active::before {
  background-color: #9c8dab;
}

/* line 78, D:/Programacion/gif-os-san/scss/_header.scss */
.navbar-div > a:nth-of-type(2):active {
  outline: none;
  color: #9c8dab;
}

/* line 85, D:/Programacion/gif-os-san/scss/_header.scss */
.theme-main {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: 16.5px;
}

/* line 92, D:/Programacion/gif-os-san/scss/_header.scss */
.theme-changer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  cursor: pointer;
}

/* line 97, D:/Programacion/gif-os-san/scss/_header.scss */
.theme-changer > span:nth-of-type(1) {
  font-size: 16px;
  font-weight: 500;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  padding: 9px 24px;
  background-color: #f7c9f3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  cursor: pointer;
  user-select: none;
  z-index: 10;
  transition: background 0.2s ease;
  position: relative;
  pointer-events: none;
  z-index: 10;
}

/* line 108, D:/Programacion/gif-os-san/scss/_header.scss */
.theme-changer > span:nth-of-type(1)::before {
  content: "";
  position: absolute;
  top: 4px;
  bottom: 4px;
  right: 4px;
  left: 4px;
}

/* line 118, D:/Programacion/gif-os-san/scss/_header.scss */
.theme-changer > span:nth-of-type(2) {
  background: url(../assets/dropdown.svg) no-repeat center center;
  background-color: #f7c9f3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  width: 10px;
  height: 6px;
  padding: 18px 18px;
  position: relative;
  transition: background 0.2s ease;
  pointer-events: none;
  z-index: 10;
}

/* line 129, D:/Programacion/gif-os-san/scss/_header.scss */
.theme-changer > span:nth-of-type(2)::before {
  content: "";
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
}

/* line 139, D:/Programacion/gif-os-san/scss/_header.scss */
.theme-changer:hover > span {
  background-color: #e6bbe2;
}

/* line 143, D:/Programacion/gif-os-san/scss/_header.scss */
.theme-changer:hover > span::before,
.theme-changer:focus > span::before {
  outline: 1px dotted #110038;
}

/* line 149, D:/Programacion/gif-os-san/scss/_header.scss */
.changer-active > span:nth-child(1),
.changer-active > span:nth-child(2) {
  background-color: #e6bbe2;
}

/* line 153, D:/Programacion/gif-os-san/scss/_header.scss */
.changer-active > span:nth-child(1)::before,
.changer-active > span:nth-child(2)::before {
  outline: 1px dotted #110038;
}

/* line 158, D:/Programacion/gif-os-san/scss/_header.scss */
.theme-select {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  z-index: 6;
  position: absolute;
  width: 100%;
  top: 28px;
  visibility: hidden;
  transition: top 0.1s ease;
}

/* line 168, D:/Programacion/gif-os-san/scss/_header.scss */
.theme-select span {
  font-size: 16px;
  font-weight: 500;
  color: #110038;
  letter-spacing: 0;
  text-align: left;
  line-height: 22px;
  padding: 7px 0;
  background-color: #f0f0f0;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
  position: relative;
  padding-left: 16px;
  margin: 10px;
  cursor: pointer;
}

/* line 176, D:/Programacion/gif-os-san/scss/_header.scss */
.theme-select span:last-child {
  margin-top: 0;
}

/* line 180, D:/Programacion/gif-os-san/scss/_header.scss */
.theme-select span::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 1px;
  background-color: #110038;
  bottom: 10px;
  left: 10px;
  transition: left 0.3s ease;
  visibility: hidden;
}

/* line 192, D:/Programacion/gif-os-san/scss/_header.scss */
.theme-select span:hover::before {
  left: 17px;
  visibility: visible;
}

/* line 197, D:/Programacion/gif-os-san/scss/_header.scss */
.theme-select span:active, .theme-select span:hover {
  background-color: #fff4fd;
  border: 1px solid #cca6c9;
  box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 #ffffff;
}

/* line 204, D:/Programacion/gif-os-san/scss/_header.scss */
.theme-active {
  top: 38px;
  visibility: visible;
}

/* line 1, D:/Programacion/gif-os-san/scss/_search.scss */
.search-section {
  margin-left: 6.9%;
  margin-right: 9.7%;
  position: relative;
}

/* line 7, D:/Programacion/gif-os-san/scss/_search.scss */
.search-main {
  margin-top: 3.3%;
  padding: 3px;
  background-color: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  position: relative;
  z-index: 5;
}

/* line 14, D:/Programacion/gif-os-san/scss/_search.scss */
.search-main > h3 {
  padding-left: 3px;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 0;
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
}

/* line 24, D:/Programacion/gif-os-san/scss/_search.scss */
.search-container {
  position: relative;
  margin: 12px 18px 12px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* line 30, D:/Programacion/gif-os-san/scss/_search.scss */
.search-container > input {
  background-color: #ffffff;
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
  width: 100%;
  padding: 13px 0;
  padding-left: 16px;
  margin-right: 8px;
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
  font-weight: 500;
}

/* line 52, D:/Programacion/gif-os-san/scss/_search.scss */
.search-container > button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 16px;
  font-weight: 500;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  padding: 9px 0;
  background-color: #f7c9f3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  position: relative;
  padding-right: 14px;
  padding-left: 36px;
  background-image: url("../assets/lupa.svg");
  background-repeat: no-repeat;
  background-position: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

/* line 65, D:/Programacion/gif-os-san/scss/_search.scss */
.search-container > button:hover {
  background-color: #e6bbe2;
}

/* line 69, D:/Programacion/gif-os-san/scss/_search.scss */
.search-container > button::before {
  content: "";
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  outline: 1px solid #f7c9f3;
}

/* line 79, D:/Programacion/gif-os-san/scss/_search.scss */
.search-container > button:hover::before {
  outline: 1px dotted #110038;
}

/* line 83, D:/Programacion/gif-os-san/scss/_search.scss */
.search-container > button:disabled {
  color: #b4b4b4;
  background-color: #e6e6e6;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
  background-image: url("../assets/lupa_inactive.svg");
  background-repeat: no-repeat;
  background-position: 10px;
}

/* line 93, D:/Programacion/gif-os-san/scss/_search.scss */
.search-options {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  padding: 6px 0 16px 15px;
  z-index: 3;
  position: absolute;
  width: 100%;
  top: 20px;
  visibility: hidden;
  transition: top 0.1s ease;
}

/* line 105, D:/Programacion/gif-os-san/scss/_search.scss */
.search-options span {
  font-size: 16px;
  font-weight: 500;
  color: #110038;
  letter-spacing: 0;
  text-align: left;
  line-height: 22px;
  padding: 7px 0;
  background-color: #f0f0f0;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
  padding-left: 16px;
  margin-top: 10px;
  width: calc(100% - 130px);
  position: relative;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

/* line 115, D:/Programacion/gif-os-san/scss/_search.scss */
.search-options span::before {
  content: "";
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  outline: 1px solid #f0f0f0;
}

/* line 125, D:/Programacion/gif-os-san/scss/_search.scss */
.search-options span:hover {
  background-color: #dbdbdb;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
}

/* line 129, D:/Programacion/gif-os-san/scss/_search.scss */
.search-options span:hover::before {
  outline: 1px dotted #110038;
}

/* line 135, D:/Programacion/gif-os-san/scss/_search.scss */
.search-options-active {
  visibility: visible;
  top: 97px;
}

/* line 140, D:/Programacion/gif-os-san/scss/_search.scss */
.gif-search-tag {
  position: relative;
  display: inline-block;
  margin-top: 12px;
  margin-right: 8px;
  font-family: "Chakra Petch", sans-serif;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  padding: 8px 10px;
  background-color: #4180f6;
  border: 1px solid #4c2f99;
  box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
  cursor: pointer;
  transition: background 0.2s ease;
}

/* line 156, D:/Programacion/gif-os-san/scss/_search.scss */
.gif-search-tag::before {
  content: "";
  position: absolute;
  top: 4px;
  bottom: 4px;
  right: 4px;
  left: 4px;
}

/* line 165, D:/Programacion/gif-os-san/scss/_search.scss */
.gif-search-tag:hover {
  background-color: #3a72db;
  border: 1px solid #4c2f99;
  box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
}

/* line 176, D:/Programacion/gif-os-san/scss/_search.scss */
.gif-search-tag:hover::before {
  outline: 1px dotted #110038;
}

/* line 181, D:/Programacion/gif-os-san/scss/_search.scss */
.search-title {
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  padding: 7px;
  font-weight: 500;
  background-color: #fffafe;
  border: 1px solid #e6bbe2;
  box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
  margin-top: 64px;
  margin-bottom: 16px;
  display: none;
}

/* line 200, D:/Programacion/gif-os-san/scss/_search.scss */
.gif-search-container {
  visibility: hidden;
  transition: all 0.2s ease;
}

/* line 1, D:/Programacion/gif-os-san/scss/_main.scss */
.main {
  margin-left: 6.9%;
  margin-right: 9.7%;
}

/* line 6, D:/Programacion/gif-os-san/scss/_main.scss */
.sug-title {
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  padding: 7px;
  font-weight: 500;
  background-color: #fffafe;
  border: 1px solid #e6bbe2;
  box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
  margin-top: 64px;
  margin-bottom: 16px;
}

/* line 24, D:/Programacion/gif-os-san/scss/_main.scss */
.suggested-container,
.trends-container,
.gif-search-container {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  align-items: center;
}

/* line 33, D:/Programacion/gif-os-san/scss/_main.scss */
.sug-gif {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  height: 313px;
  width: 24%;
  padding: 3px 4px;
  position: relative;
}

/* line 41, D:/Programacion/gif-os-san/scss/_main.scss */
.sug-gif span {
  font-family: "Chakra Petch", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 0;
  padding: 3px;
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

/* line 55, D:/Programacion/gif-os-san/scss/_main.scss */
.sug-gif span::before {
  content: "";
  position: absolute;
  background-image: url(../assets/close.svg);
  width: 16px;
  height: 14px;
  right: 4px;
}

/* line 65, D:/Programacion/gif-os-san/scss/_main.scss */
.sug-gif img {
  border: 1px solid #e6e6e6;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

/* line 73, D:/Programacion/gif-os-san/scss/_main.scss */
.sug-gif:hover img {
  border: 1px dotted #110038;
}

/* line 77, D:/Programacion/gif-os-san/scss/_main.scss */
.sug-gif .sug-link {
  position: absolute;
  bottom: 19px;
  left: 11px;
  text-decoration: none;
  font-family: "Chakra Petch", sans-serif;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  padding: 8px 10px;
  background-color: #4180f6;
  border: 1px solid #4c2f99;
  box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
  cursor: pointer;
  transition: background 0.2s ease;
}

/* line 101, D:/Programacion/gif-os-san/scss/_main.scss */
.sug-gif .sug-link::before {
  content: "";
  position: absolute;
  top: 4px;
  bottom: 4px;
  right: 4px;
  left: 4px;
}

/* line 110, D:/Programacion/gif-os-san/scss/_main.scss */
.sug-gif .sug-link:hover {
  background-color: #3a72db;
  border: 1px solid #4c2f99;
  box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
}

/* line 121, D:/Programacion/gif-os-san/scss/_main.scss */
.sug-gif .sug-link:hover::before {
  outline: 1px dotted #110038;
}

/* line 127, D:/Programacion/gif-os-san/scss/_main.scss */
.trend-gif,
.search-gif {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
  height: 298px;
  padding: 3px;
  flex: 1 1 1;
  overflow: hidden;
}

/* line 137, D:/Programacion/gif-os-san/scss/_main.scss */
.trend-gif::before,
.search-gif::before {
  content: "";
  position: absolute;
  top: 3px;
  bottom: 3px;
  right: 3px;
  left: 3px;
  outline: 1px dotted transparent;
  z-index: 10;
  transition: outline 0.2s ease;
}

/* line 149, D:/Programacion/gif-os-san/scss/_main.scss */
.trend-gif img,
.search-gif img {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* line 155, D:/Programacion/gif-os-san/scss/_main.scss */
.trend-gif span,
.search-gif span {
  font-family: "Chakra Petch", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 0;
  padding: 3px;
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
  display: flex;
  align-items: center;
  position: absolute;
  width: calc(100% - 6px);
  bottom: -5px;
  visibility: hidden;
  transition: all 0.1s ease-in;
}

/* line 174, D:/Programacion/gif-os-san/scss/_main.scss */
.trend-gif:hover,
.search-gif:hover {
  background-color: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}

/* line 178, D:/Programacion/gif-os-san/scss/_main.scss */
.trend-gif:hover::before,
.search-gif:hover::before {
  outline: 1px dotted #110038;
}

/* line 182, D:/Programacion/gif-os-san/scss/_main.scss */
.trend-gif:hover span,
.search-gif:hover span {
  visibility: visible;
  bottom: 3px;
}

/* line 1, D:/Programacion/gif-os-san/scss/_gifos.scss */
.gifos {
  margin-left: 6.9%;
  margin-right: 9.7%;
}

/* line 1, D:/Programacion/gif-os-san/scss/_upload.scss */
#go-back {
  background-image: url("../assets/arrow.svg");
  width: 24px;
  height: 26px;
  position: absolute;
  left: 0;
  margin-left: 4.2%;
}

/* line 10, D:/Programacion/gif-os-san/scss/_upload.scss */
.new-main {
  margin-top: 10%;
}

/* line 14, D:/Programacion/gif-os-san/scss/_upload.scss */
.new-gif {
  margin: 0 26.3%;
  padding: 3px;
  background-color: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}

/* line 19, D:/Programacion/gif-os-san/scss/_upload.scss */
.new-gif .new-title {
  display: block;
  font-family: "Chakra Petch", sans-serif;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  font-weight: 600;
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
  padding: 3.4px 0 2.6px 4px;
  margin-bottom: 17px;
}

/* line 33, D:/Programacion/gif-os-san/scss/_upload.scss */
.new-info {
  font-family: "Chakra Petch", sans-serif;
  margin-left: 73px;
  position: relative;
}

/* line 38, D:/Programacion/gif-os-san/scss/_upload.scss */
.new-info .list,
.new-info p {
  display: block;
  margin-top: 15px;
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  line-height: 20px;
  max-width: 518px;
}

/* line 49, D:/Programacion/gif-os-san/scss/_upload.scss */
.new-info > span:first-child {
  display: block;
  font-size: 16px;
  color: #110038;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22px;
  margin-bottom: 17px;
  margin-top: 30px;
  position: relative;
}

/* line 60, D:/Programacion/gif-os-san/scss/_upload.scss */
.new-info > span:first-child::before {
  content: "";
  background-image: url(../assets/window.png);
  background-repeat: no-repeat;
  position: absolute;
  left: -50px;
  width: 32px;
  height: 32px;
}

/* line 72, D:/Programacion/gif-os-san/scss/_upload.scss */
.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-right: 2.5%;
  margin-bottom: 3.4%;
  margin-top: 28px;
}

/* line 78, D:/Programacion/gif-os-san/scss/_upload.scss */
.buttons button {
  font-size: 16px;
  font-weight: 500;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  padding: 9px 35px;
  margin-left: 16px;
  cursor: pointer;
}

/* line 84, D:/Programacion/gif-os-san/scss/_upload.scss */
.buttons > button:first-child {
  background-color: #fff4fd;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

/* line 88, D:/Programacion/gif-os-san/scss/_upload.scss */
.buttons > button:last-child {
  background-color: #f7c9f3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

/* line 93, D:/Programacion/gif-os-san/scss/_upload.scss */
.video-container {
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 50vw;
  height: auto;
  padding: 3px 4px;
  background-color: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}

/* line 106, D:/Programacion/gif-os-san/scss/_upload.scss */
.video-container > .video-title {
  font-size: 14px;
  color: #ffffff;
  font-weight: 900;
  letter-spacing: 0;
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
  width: 100%;
  padding: 3px 0;
  padding-left: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

/* line 121, D:/Programacion/gif-os-san/scss/_upload.scss */
.video-container > .video-title::before {
  content: "";
  background: url("../assets/button3.svg") no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  right: 13px;
}

/* line 132, D:/Programacion/gif-os-san/scss/_upload.scss */
.video-div {
  background-color: #ffffff;
  border: 1px solid #979797;
  box-shadow: inset -1px -1px 0 0 #e6e6e6, inset 1px 1px 0 0 #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 13px 0 8px;
  padding: 2px;
  width: calc(100% - 21px);
}

/* line 141, D:/Programacion/gif-os-san/scss/_upload.scss */
.video-div > video {
  width: 100%;
  position: relative;
}

/* line 147, D:/Programacion/gif-os-san/scss/_upload.scss */
.video-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 21px;
  margin-bottom: 16px;
  margin-right: 16px;
  align-self: flex-end;
}

/* line 156, D:/Programacion/gif-os-san/scss/_upload.scss */
.video-buttons:hover > button::before {
  outline: 1px dotted #110038;
}

/* line 160, D:/Programacion/gif-os-san/scss/_upload.scss */
.video-buttons:hover > span::before {
  outline: 1px dotted #110038;
}

/* line 164, D:/Programacion/gif-os-san/scss/_upload.scss */
.video-buttons:hover > span {
  background-color: #e6bbe2;
}

/* line 168, D:/Programacion/gif-os-san/scss/_upload.scss */
.video-buttons:hover > button {
  background-color: #e6bbe2;
}

/* line 172, D:/Programacion/gif-os-san/scss/_upload.scss */
.video-buttons > span {
  background-color: #f7c9f3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  background-image: url(../assets/camera.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 18px;
  height: 16.5px;
  padding: 18px;
  position: relative;
  cursor: pointer;
}

/* line 183, D:/Programacion/gif-os-san/scss/_upload.scss */
.video-buttons > span::before {
  content: "";
  position: absolute;
  top: 3px;
  bottom: 3px;
  right: 3px;
  left: 3px;
}

/* line 193, D:/Programacion/gif-os-san/scss/_upload.scss */
.video-buttons > button {
  background-color: #f7c9f3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  font-size: 16px;
  font-weight: 500;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  padding: 9px 39.5px;
  position: relative;
  outline: 0;
  cursor: pointer;
}

/* line 200, D:/Programacion/gif-os-san/scss/_upload.scss */
.video-buttons > button::before {
  content: "";
  position: absolute;
  top: 3px;
  bottom: 3px;
  right: 3px;
  left: 3px;
}

/* line 211, D:/Programacion/gif-os-san/scss/_upload.scss */
.stop-container {
  display: none;
  justify-content: flex-end;
  align-items: center;
  margin-top: 21px;
  margin-bottom: 16px;
  margin-right: 16px;
  align-self: flex-end;
  width: 100%;
  position: relative;
}

/* line 222, D:/Programacion/gif-os-san/scss/_upload.scss */
.stop-container .stop-timer {
  background-color: #ffffff;
  border: 1px solid #979797;
  box-shadow: inset -1px -1px 0 0 #e6e6e6, inset 1px 1px 0 0 #000000;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
  padding: 7px 13px 7px 21px;
  position: absolute;
  left: 25px;
}

/* line 234, D:/Programacion/gif-os-san/scss/_upload.scss */
.stop-btn-div {
  display: flex;
  cursor: pointer;
}

/* line 238, D:/Programacion/gif-os-san/scss/_upload.scss */
.stop-btn-div > span {
  background-color: #ff6161;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 #ffffff;
  background-image: url("../assets/recording.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  padding: 18px;
}

/* line 247, D:/Programacion/gif-os-san/scss/_upload.scss */
.stop-btn-div > button {
  background-color: #ff6161;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 #ffffff;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  padding: 9px 53px;
  cursor: pointer;
}

/* line 259, D:/Programacion/gif-os-san/scss/_upload.scss */
.retry-upload {
  display: none;
}

/* line 261, D:/Programacion/gif-os-san/scss/_upload.scss */
.retry-upload > button {
  font-size: 16px;
  font-weight: 500;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  padding: 0 0;
  cursor: pointer;
}

/* line 266, D:/Programacion/gif-os-san/scss/_upload.scss */
.retry-upload .retry {
  background-color: #fff4fd;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  padding: 9px 13px;
}

/* line 271, D:/Programacion/gif-os-san/scss/_upload.scss */
.retry-upload .upload {
  background-color: #f7c9f3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  padding: 9px 32px;
  margin-left: 14px;
}

/*# sourceMappingURL=styles.css.map */