.light {
  background-color: var(--background);
  --background: #fff4fd;
  --logo: url(../assets/gifOF_logo.png);
  --camera: url(../assets/camera.svg);
  --lens: url(../assets/lupa.svg);
  --inactive-lens: url(../assets/lupa_inactive.svg);
  --recording: url(../assets/recording.svg);
  --dropdown-first: var(--font);
  --dropdown-second: var(--white);
  --gradient: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
  --white: #ffffff;
  --black: #000000;
  --font: #110038;
  --font-hover: #110038;
  --btn-fill: #f7c9f3;
  --btn-fill-hover: #e6bbe2;
  --bder-in-shadow: #997d97;
  --theme-fill: #e6e6e6;
  --theme-in-shadow: #b4b4b4;
  --theme-link-fill: #f0f0f0;
  --theme-link-bder: #808080;
  --theme-link-in-shadow: var(--theme-in-shadow);
  --theme-link-fill-hover: #fff4fd;
  --theme-link-bder-hover: #cca6c9;
  --theme-link-in-shadow-hover: #e6dce4;
  --section-title-bder: var(--btn-fill-hover);
  --section-title-in-shadow: var(--theme-link-in-shadow-hover);
  --section-title-sec-in-shadow: #80687d;
  --search-bder: #979797;
  --sug-link-in-shadow: #b4b4b4;
  --sug-link-hover-fill: #dbdbdb;
  --gif-in-shadow: #b4b4b4;
  --gif-btn-fill: #4180f6;
  --gif-btn-bder: #4c2f99;
  --gif-btn-in-shadow: #284f99;
  --gif-btn-fill-hover: #3a72db;
  --gif-btn-in-shadow-hover: #284f99;
  --stop-btn-fill: #ff6161;
  --stop-btn-in-shadow: #993a3a;
  --progress-in-shadow: var(--theme-fill);
  --progress: #999999;
  --secondary-btn-fill: #fff4fd;
  --secondary-btn-bder: #110038;
  --secondary-btn-in-shadow: #997d97;
  --secondaty-btn-fill-hover: #f0e5ee; }

.dark {
  background-color: var(--background);
  --background: #110038;
  --logo: url(../assets/gifOF_logo_dark.png);
  --camera: url(../assets/camera_light.svg);
  --lens: url(../assets/lupa_light.svg);
  --inactive-lens: url(../assets/lupa_inactive_light.svg);
  --recording: url(../assets/recording_dark.svg);
  --dropdown-first: var(--font);
  --dropdown-second: var(--font-hover);
  --gradient: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
  --white: #ffffff;
  --black: #000000;
  --font: #ffffff;
  --font-hover: #110038;
  --btn-fill: #ee3efe;
  --btn-fill-hover: #ce36db;
  --bder-in-shadow: #a72cb3;
  --theme-fill: #b4b4b4;
  --theme-in-shadow: #8f8f8f;
  --theme-link-fill: #cccccc;
  --theme-link-bder: #808080;
  --theme-link-in-shadow: var(--theme-fill);
  --theme-link-fill-hover: #2e32fb;
  --theme-link-bder-hover: rgba(51, 53, 143, 0.2);
  --theme-link-in-shadow-hover: #e6dce4;
  --section-title-bder: var(--gif-btn-fill);
  --section-title-in-shadow: var(--theme-link-in-shadow-hover);
  --section-title-sec-in-shadow: var(--font-hover);
  --search-bder: #979797;
  --sug-link-in-shadow: #b4b4b4;
  --sug-link-fill-hover: #cccccc;
  --gif-in-shadow: #5c5c5c;
  --gif-btn-fill: #2e32fb;
  --gif-btn-bder: #4c2f99;
  --gif-btn-in-shadow: #2124b3;
  --gif-btn-fill-hover: #2629cc;
  --gif-btn-in-shadow-hover: #2124b3;
  --stop-btn-fill: #ff6161;
  --stop-btn-in-shadow: #993a3a;
  --progress-in-shadow: #e6e6e6;
  --progress: #999999;
  --secondary-btn-fill: #110038;
  --secondary-btn-bder: #b4b4b4;
  --secondary-btn-in-shadow: #5c5c5c;
  --secondary-btn-fill-hover: #110038; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif; }

.primary-btn {
  position: relative;
  cursor: pointer;
  background-color: var(--btn-fill);
  border: 1px solid var(--font-hover);
  -webkit-box-shadow: inset -1px -1px 0 0 var(--bder-in-shadow), inset 1px 1px 0 0 var(--white);
          box-shadow: inset -1px -1px 0 0 var(--bder-in-shadow), inset 1px 1px 0 0 var(--white);
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease; }
  .primary-btn::before {
    content: "";
    position: absolute;
    top: 3px;
    bottom: 3px;
    left: 3px;
    right: 3px; }
  .primary-btn:hover {
    background-color: var(--btn-fill-hover); }
  .primary-btn:hover::before {
    outline: 1px dotted var(--font-hover); }
  .primary-btn:hover:disabled::before {
    outline: none; }

.secondary-btn {
  position: relative;
  cursor: pointer;
  background-color: var(--secondary-btn-fill);
  border: 1px solid var(--font-hover);
  -webkit-box-shadow: inset -1px -1px 0 0 var(--secondary-btn-in-shadow), inset 1px 1px 0 0 var(--white);
          box-shadow: inset -1px -1px 0 0 var(--secondary-btn-in-shadow), inset 1px 1px 0 0 var(--white); }
  .secondary-btn::before {
    content: "";
    position: absolute;
    top: 3px;
    bottom: 3px;
    right: 3px;
    left: 3px; }
  .secondary-btn:hover {
    background-color: var(--secondary-btn-fill-hover); }
  .secondary-btn:hover::before {
    outline: 1px dotted var(--font); }

.h-title {
  background-image: var(--gradient);
  -webkit-box-shadow: 0 1px 0 0 var(--font-hover);
          box-shadow: 0 1px 0 0 var(--font-hover);
  font-weight: 400;
  font-size: 12px;
  color: var(--white);
  letter-spacing: 0; }

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
  margin-right: 9.8%;
  margin-top: 3.2%;
  margin-left: 6.3%; }
  .navbar img {
    content: var(--logo); }

.logo {
  position: absolute;
  left: 0; }

.go-back {
  width: 24px;
  height: 26px;
  position: absolute;
  left: -31px; }
  .go-back svg use {
    fill: var(--font); }

.trend-gif,
.search-gif,
.my-gif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
  height: 298px;
  padding: 3px;
  overflow: hidden; }
  .trend-gif::before,
  .search-gif::before,
  .my-gif::before {
    content: "";
    position: absolute;
    top: 4px;
    bottom: 4px;
    right: 4px;
    left: 4px;
    z-index: 10;
    outline: 1px dotted transparent;
    -webkit-transition: outline 0.2s ease;
    transition: outline 0.2s ease; }
  .trend-gif img,
  .search-gif img,
  .my-gif img {
    overflow: hidden;
    width: 100%;
    height: 100%; }
  .trend-gif span,
  .search-gif span,
  .my-gif span {
    font-size: 14px;
    font-weight: bold;
    color: var(--white);
    letter-spacing: 0;
    padding: 3px;
    background-image: var(--gradient);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    width: calc(100% - 6px);
    bottom: -5px;
    visibility: hidden;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in; }
  .trend-gif:hover,
  .search-gif:hover,
  .my-gif:hover {
    background-color: var(--theme-fill);
    -webkit-box-shadow: inset -2px -2px 0 0 var(--gif-in-shadow), inset 2px 2px 0 0 var(--white);
            box-shadow: inset -2px -2px 0 0 var(--gif-in-shadow), inset 2px 2px 0 0 var(--white); }
  .trend-gif:hover::before,
  .search-gif:hover::before,
  .my-gif:hover::before {
    outline: 1px dotted var(--font-hover); }
  .trend-gif:hover span,
  .search-gif:hover span,
  .my-gif:hover span {
    visibility: visible;
    bottom: 3px; }

.gif-link {
  font-size: 14px;
  color: var(--white);
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  padding: 8px 10px;
  background-color: var(--gif-btn-fill);
  border: 1px solid var(--gif-btn-bder);
  -webkit-box-shadow: inset -2px -2px 0 0 var(--gif-btn-in-shadow), inset 2px 2px 0 0 var(--white);
          box-shadow: inset -2px -2px 0 0 var(--gif-btn-in-shadow), inset 2px 2px 0 0 var(--white);
  cursor: pointer;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease; }
  .gif-link::before {
    content: "";
    position: absolute;
    top: 4px;
    bottom: 4px;
    right: 4px;
    left: 4px; }
  .gif-link:hover {
    background-color: var(--gif-btn-fill-hover);
    border: 1px solid var(--gif-btn-bder);
    -webkit-box-shadow: inset -2px -2px 0 0 var(--gif-btn-in-shadow), inset 2px 2px 0 0 var(--white);
            box-shadow: inset -2px -2px 0 0 var(--gif-btn-in-shadow), inset 2px 2px 0 0 var(--white); }
  .gif-link:hover::before {
    outline: 1px dotted var(--font-hover); }

.large-gif {
  grid-column: span 2; }

.new-main {
  margin-top: 5%; }

.new-gif {
  margin: 0 26.3%;
  padding: 3px;
  background-color: var(--theme-fill);
  -webkit-box-shadow: inset -2px -2px 0 0 var(--theme-in-shadow), inset 2px 2px 0 0 var(--white);
          box-shadow: inset -2px -2px 0 0 var(--theme-in-shadow), inset 2px 2px 0 0 var(--white); }
  .new-gif .new-title {
    display: block;
    font-size: 14px;
    color: var(--white);
    letter-spacing: 0;
    font-weight: 600;
    background-image: var(--gradient);
    padding: 3.4px 0 2.6px 4px;
    margin-bottom: 17px; }

.new-info {
  margin-left: 73px;
  position: relative; }
  .new-info .list,
  .new-info p {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    color: var(--font-hover);
    letter-spacing: 0;
    line-height: 20px;
    max-width: 518px; }
  .new-info > span:first-child {
    display: block;
    font-size: 16px;
    color: var(--font-hover);
    font-weight: 600;
    letter-spacing: 0;
    line-height: 22px;
    margin-bottom: 17px;
    margin-top: 30px;
    position: relative; }
    .new-info > span:first-child::before {
      content: "";
      background-image: url(../assets/window.png);
      background-repeat: no-repeat;
      position: absolute;
      left: -50px;
      width: 32px;
      height: 32px; }

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-right: 2.5%;
  margin-bottom: 3.4%;
  margin-top: 28px; }
  .buttons button {
    font-size: 16px;
    font-weight: 500;
    color: var(--font);
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    padding: 9px 35px;
    margin-left: 16px;
    cursor: pointer; }

.video-container {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-bottom: 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  padding: 3px 4px;
  position: relative;
  background-color: var(--theme-fill);
  -webkit-box-shadow: inset -2px -2px 0 0 var(--theme-in-shadow), inset 2px 2px 0 0 var(--white);
          box-shadow: inset -2px -2px 0 0 var(--theme-in-shadow), inset 2px 2px 0 0 var(--white); }
  .video-container > .video-title {
    font-size: 14px;
    color: var(--white);
    font-weight: 900;
    letter-spacing: 0;
    background-image: var(--gradient);
    width: 100%;
    padding: 3px 0;
    padding-left: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
    .video-container > .video-title::before {
      content: "";
      background: url("../assets/button3.svg") no-repeat;
      width: 16px;
      height: 16px;
      position: absolute;
      right: 13px; }

.media-master {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.media-div {
  background-color: var(--white);
  border: 1px solid var(--search-bder);
  -webkit-box-shadow: inset -2px -2px 0 0 var(--theme-fill), inset 2px 2px 0 0 var(--black);
          box-shadow: inset -2px -2px 0 0 var(--theme-fill), inset 2px 2px 0 0 var(--black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 8px 13px 0 8px;
  padding: 2px;
  width: calc(100% - 21px); }

.gif-div {
  display: none;
  margin-top: 29px;
  margin-left: 24px;
  width: 100%; }

.gif-img {
  width: 365px;
  height: 192px; }

.video-up {
  width: 960px;
  height: 540px;
  position: relative;
  -o-object-fit: fill;
     object-fit: fill; }

.upload-container {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 138px 250px; }
  .upload-container > span:nth-of-type(1) {
    font-size: 16px;
    font-weight: 700;
    color: var(--font);
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
    padding: 0 0;
    margin-top: 8px;
    margin-bottom: 39px;
    color: var(--font-hover); }
  .upload-container > span:nth-of-type(2) {
    font-size: 12px;
    font-weight: 500;
    color: rgba(17, 0, 56, 0.64);
    letter-spacing: 0;
    text-align: center;
    line-height: 14px;
    padding: 0 0;
    margin-top: 8px; }
  .upload-container span:first-child {
    text-decoration: line-through; }

.uploaded-buttons {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-right: 46px;
  width: 100%;
  margin-left: 24px; }
  .uploaded-buttons span {
    font-size: 16px;
    font-weight: 700;
    color: var(--font);
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
    padding: 0 0;
    margin-bottom: 16px; }

.copy-url {
  font-size: 16px;
  font-weight: 500;
  color: var(--font);
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  padding: 9px 56.5px; }

.download-gif {
  font-size: 16px;
  font-weight: 500;
  color: var(--font);
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  padding: 9px 68.5px;
  margin-top: 14px; }

.master-buttons {
  width: 100%;
  margin-top: 21px;
  margin-bottom: 16px;
  padding-right: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.video-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer; }
  .video-buttons:hover > span::before, .video-buttons:hover > button::before {
    outline: 1px dotted var(--font-hover); }
  .video-buttons:hover > span, .video-buttons:hover > button {
    background-color: var(--btn-fill-hover); }
  .video-buttons > button {
    font-size: 16px;
    font-weight: 500;
    color: var(--font);
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    padding: 9px 39.5px; }
  .video-buttons > span {
    background-image: var(--camera);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 18px;
    height: 16.5px;
    padding: 18px;
    position: relative; }

.stop-container {
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 100%;
  position: relative; }

.stop-timer {
  background-color: var(--white);
  border: 1px solid var(--search-bder);
  -webkit-box-shadow: inset -1px -1px 0 0 var(--theme-fill), inset 1px 1px 0 0 var(--black);
          box-shadow: inset -1px -1px 0 0 var(--theme-fill), inset 1px 1px 0 0 var(--black);
  font-size: 16px;
  color: var(--font-hover);
  letter-spacing: 0;
  line-height: 22px;
  padding: 7px 13px 7px 21px;
  position: absolute;
  left: 12px;
  bottom: 18px; }

.stop-btn-div {
  display: none;
  cursor: pointer; }
  .stop-btn-div > span {
    background-color: var(--stop-btn-fill);
    border: 1px solid var(--font-hover);
    -webkit-box-shadow: inset -1px -1px 0 0 var(--stop-btn-in-shadow), inset 1px 1px 0 0 var(--white);
            box-shadow: inset -1px -1px 0 0 var(--stop-btn-in-shadow), inset 1px 1px 0 0 var(--white);
    background-image: var(--recording);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    padding: 18px; }
  .stop-btn-div > button {
    background-color: var(--stop-btn-fill);
    border: 1px solid var(--font-hover);
    -webkit-box-shadow: inset -1px -1px 0 0 var(--stop-btn-in-shadow), inset 1px 1px 0 0 var(--white);
            box-shadow: inset -1px -1px 0 0 var(--stop-btn-in-shadow), inset 1px 1px 0 0 var(--white);
    font-size: 16px;
    font-weight: 500;
    color: var(--white);
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    padding: 0 0;
    padding: 9px 53px;
    cursor: pointer; }

.retry-upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%; }
  .retry-upload > button {
    font-size: 16px;
    font-weight: 500;
    color: var(--font);
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    padding: 0 0; }
  .retry-upload .retry {
    padding: 9px 13px; }
  .retry-upload .upload {
    padding: 9px 32px;
    margin-left: 14px; }

.play-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 119px; }
  .play-video .play {
    background-image: url("../assets/forward.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width: 6px;
    height: 10px;
    padding: 10px 10px;
    margin-right: 3px;
    margin-bottom: 2px; }

.progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--theme-link-in-shadow);
  -webkit-box-shadow: inset -2px -2px 0 0 var(--white), inset 2px 2px 0 0 var(--black);
          box-shadow: inset -2px -2px 0 0 var(--white), inset 2px 2px 0 0 var(--black);
  height: 24px;
  padding-right: 2px; }

.progress,
.progress-up {
  display: inline-block;
  width: 12px;
  height: 20px;
  margin-left: 2px;
  background-color: var(--progress); }

.progress-fill {
  background-color: var(--btn-fill); }

.cancel-btn {
  font-size: 16px;
  font-weight: 500;
  color: var(--font);
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  padding: 9px 39.5px;
  display: none; }

.finish-btn {
  display: none;
  font-size: 16px;
  font-weight: 500;
  color: var(--font);
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  padding: 9px 53.5px;
  margin-right: 32px;
  margin-top: 44px;
  margin-bottom: 28px; }

/* .new-main {
  margin-top: 5%;
}

.new-gif {
  margin: 0 26.3%;
  padding: 3px;
  @include bg_shadow(var(--theme-fill), var(--theme-in-shadow), var(--white));

  .new-title {
    display: block;
    font-size: 14px;
    color: var(--white);
    letter-spacing: 0;
    font-weight: 600;
    background-image: var(--gradient);

    padding: 3.4px 0 2.6px 4px;
    margin-bottom: 17px;
  }
}

.new-info {
  margin-left: 73px;
  position: relative;

  .list,
  p {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    color: var(--font-hover);
    letter-spacing: 0;
    line-height: 20px;
    max-width: 518px;
  }

  > span:first-child {
    display: block;
    font-size: 16px;
    color: var(--font-hover);
    font-weight: 600;
    letter-spacing: 0;
    line-height: 22px;
    margin-bottom: 17px;
    margin-top: 30px;
    position: relative;

    &::before {
      content: "";
      background-image: url(../assets/window.png);
      background-repeat: no-repeat;
      position: absolute;
      left: -50px;
      width: 32px;
      height: 32px;
    }
  }
}

.buttons {
  @include dis_flex($justify: flex-end);
  margin-right: 2.5%;
  margin-bottom: 3.4%;
  margin-top: 28px;

  button {
    @include buttons(9px, 35px);
    margin-left: 16px;
    cursor: pointer;
  }
}

.video-container {
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 50px;
  width: fit-content;
  height: auto;
  padding: 3px 4px;
  position: relative;

  @include bg_shadow(var(--theme-fill), var(--theme-in-shadow), var(--white));

  > .video-title {
    font-size: 14px;
    color: var(--white);
    font-weight: 900;
    letter-spacing: 0;
    background-image: var(--gradient);
    width: 100%;
    padding: 3px 0;
    padding-left: 4px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    &::before {
      content: "";
      background: url("../assets/button3.svg") no-repeat;
      width: 16px;
      height: 16px;
      position: absolute;
      right: 13px;
    }
  }
}

.media-master {
  display: flex;
}

.media-div {
  @include bg_bder_shadow(
    var(--white),
    var(--search-bder),
    var(--theme-fill),
    var(--black),
    -2px,
    2px
  );
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 13px 0 8px;
  padding: 2px;
  width: calc(100% - 21px);
}

.gif-div {
  display: none;
  margin-top: 29px;
  margin-left: 24px;
  width: 100%;
}

.gif-img {
  width: 365px;
  height: 192px;
}

.video-up {
  width: 960px;
  height: 540px;
  position: relative;
  object-fit: fill;
}

.upload-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 138px 250px;

  > span:nth-of-type(1) {
    @include buttons($weight: 700, $l-height: 22px);
    margin-top: 8px;
    margin-bottom: 39px;
  }

  > span:nth-of-type(2) {
    @include buttons(
      $color: rgba(17, 0, 56, 0.64),
      $l-height: 14px,
      $f-size: 12px
    );
    margin-top: 8px;
  }

  span:first-child {
    text-decoration: line-through;
  }
}

.uploaded-buttons {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 46px;
  width: 100%;
  margin-left: 24px;

  span {
    @include buttons($l-height: 22px, $weight: 700);
    margin-bottom: 16px;
  }
}

.copy-url {
  @include buttons($pad-lr: 56.5px, $pad-tb: 9px);
}

.download-gif {
  @include buttons($pad-lr: 68.5px, $pad-tb: 9px);
  margin-top: 14px;
}

.master-buttons {
  width: 100%;
  margin-top: 21px;
  margin-bottom: 16px;
  padding-right: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.video-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  cursor: pointer;

  &:hover > span::before,
  &:hover > button::before {
    outline: 1px dotted var(--font-hover);
  }

  &:hover > span,
  &:hover > button {
    background-color: var(--btn-fill-hover);
  }

  > button {
    @include buttons(9px, 39.5px);
  }

  > span {
    background-image: var(--camera);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 18px;
    height: 16.5px;
    padding: 18px;
    position: relative;
  }
}

.stop-container {
  display: none;
  justify-content: flex-end;
  align-items: center;
  align-self: flex-end;
  width: 100%;
  position: relative;
}

.stop-timer {
  @include bg_bder_shadow(
    var(--white),
    var(--search-bder),
    var(--theme-fill),
    var(--black)
  );
  font-size: 16px;
  color: var(--font-hover);
  letter-spacing: 0;
  line-height: 22px;
  padding: 7px 13px 7px 21px;
  position: absolute;
  left: 12px;
  bottom: 18px;
}

.stop-btn-div {
  display: none;
  cursor: pointer;

  > span {
    @include bg_bder_shadow(
      var(--stop-btn-fill),
      var(--font-hover),
      var(--stop-btn-in-shadow),
      var(--white),
      -1px,
      1px
    );
    background-image: var(--recording);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    padding: 18px;
  }

  > button {
    @include bg_bder_shadow(
      var(--stop-btn-fill),
      var(--font-hover),
      var(--stop-btn-in-shadow),
      var(--white),
      -1px,
      1px
    );
    @include buttons($color: var(--white));
    padding: 9px 53px;
    cursor: pointer;
  }
}

.retry-upload {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;

  > button {
    @include buttons();
  }

  .retry {
    padding: 9px 13px;
  }

  .upload {
    padding: 9px 32px;
    margin-left: 14px;
  }
}

.play-video {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 119px;

  .play {
    background-image: url("../assets/forward.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width: 6px;
    height: 10px;
    padding: 10px 10px;
    margin-right: 3px;
    margin-bottom: 2px;
  }
}

.progress-bar {
  display: flex;
  align-items: center;
  @include bg_shadow(var(--theme-link-in-shadow), var(--white), var(--black));
  height: 24px;
  padding-right: 2px;
}

.progress,
.progress-up {
  display: inline-block;
  width: 12px;
  height: 20px;
  margin-left: 2px;
  background-color: var(--progress);
}

.progress-fill {
  background-color: var(--btn-fill);
}

.cancel-btn {
  @include buttons($pad-tb: 9px, $pad-lr: 39.5px);
  display: none;
}

.finish-btn {
  display: none;
  @include buttons($pad-tb: 9px, $pad-lr: 53.5px);
  margin-right: 32px;
  margin-top: 44px;
  margin-bottom: 28px;
}
 */
