.h-title {
  background-image: var(--gradient);
  box-shadow: 0 1px 0 0 var(--font-hover);
  font-weight: 400;
  font-size: 12px;
  color: var(--white);
  letter-spacing: 0;
}

.navbar-div {
  @include dis_flex;

  > a:nth-of-type(1) {
    @include buttons(9px, 26.5px);
    text-decoration: none;
    margin-right: 16px;
  }
}

.my-gifos {
  @include buttons(7px);
  padding-right: 20px;
  text-decoration: none;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 1px;
    background-color: var(--font);
    bottom: 7px;
    left: 1px;
  }

  &:hover {
    outline: 1px dotted var(--font);
  }

  &:active::before {
    background-color: #9c8dab;
  }

  &:active {
    outline: none;
    color: #9c8dab;
  }
}

.theme-main {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: 16.5px;
}

.theme-changer {
  @include dis_flex;
  position: relative;
  cursor: pointer;

  > span:nth-of-type(1) {
    @include buttons(9px, 24px);
    @include bg_bder_shadow(
      var(--btn-fill),
      var(--font-hover),
      var(--bder-in-shadow),
      var(--white)
    );
    cursor: pointer;
    user-select: none;
    z-index: 10;
    transition: background 0.2s ease;
    position: relative;
    pointer-events: none;
    z-index: 10;

    &::before {
      content: "";
      position: absolute;
      top: 4px;
      bottom: 4px;
      right: 4px;
      left: 4px;
    }
  }

  > span:nth-of-type(2) {
    @include bg_bder_shadow(
      var(--btn-fill),
      var(--font-hover),
      var(--bder-in-shadow),
      var(--white)
    );
    display: flex;
    padding: 15px 13px;
    position: relative;
    transition: background 0.2s ease;
    z-index: 10;

    &::before {
      content: "";
      position: absolute;
      top: 4px;
      bottom: 4px;
      left: 4px;
      right: 4px;
    }

    svg path:first-child {
      fill: var(--dropdown-first);
    }

    svg path:last-child {
      fill: var(--dropdown-second);
    }
  }

  &:hover > span {
    background-color: var(--btn-fill-hover);
  }

  &:hover > span::before,
  &:focus > span::before {
    outline: 1px dotted var(--font-hover);
  }
}

.changer-active > span:nth-child(1),
.changer-active > span:nth-child(2) {
  background-color: var(--btn-fill-hover);

  &::before {
    outline: 1px dotted var(--font-hover);
  }
}

.theme-select {
  @include dis_flex($f_dir: column, $align: stretch);
  @include bg_shadow(var(--theme-fill), var(--theme-in-shadow), var(--white));
  z-index: 15;
  position: absolute;
  width: 100%;
  top: 28px;
  visibility: hidden;
  transition: top 0.1s ease;
}

.theme-option {
  @include buttons(
    $l-height: 22px,
    $pad-tb: 7px,
    $t-align: left,
    $color: var(--font-hover)
  );
  @include bg_bder_shadow(
    var(--theme-link-fill),
    var(--theme-link-bder),
    var(--theme-link-in-shadow),
    var(--white)
  );
  position: relative;
  padding-left: 16px;
  margin: 10px;
  cursor: pointer;

  &:last-child {
    margin-top: 0;
  }

  &::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 1px;
    background-color: var(--font);
    bottom: 10px;
    left: 10px;
    transition: left 0.3s ease;
    visibility: hidden;
  }

  &:hover::before {
    left: 17px;
    visibility: visible;
  }

  &:hover {
    background-clip: padding-box;
    color: var(--font);
    @include bg_bder_shadow(
      var(--theme-link-fill-hover),
      var(--theme-link-bder-hover),
      var(--theme-link-in-shadow-hover),
      var(--white)
    );
  }
}

.theme-active {
  top: 38px;
  visibility: visible;
}

.theme-enabled {
  background-clip: padding-box;
  color: var(--font);
  @include bg_bder_shadow(
    var(--theme-link-fill-hover),
    var(--theme-link-bder-hover),
    var(--theme-link-in-shadow-hover),
    var(--white)
  );
}
