#go-back {
  background-image: url("../assets/arrow.svg");
  width: 24px;
  height: 26px;
  position: absolute;
  left: 0;
  margin-left: 4.2%;
}

.new-main {
  margin-top: 10%;
}

.new-gif {
  margin: 0 26.3%;
  padding: 3px;
  @include bg_shadow($c-gray-6, $c-gray-4, $c-white);

  .new-title {
    display: block;
    font-family: $font;
    font-size: 14px;
    color: $c-white;
    letter-spacing: 0;
    font-weight: 600;
    background-image: $pt-gradient;

    padding: 3.4px 0 2.6px 4px;
    margin-bottom: 17px;
  }
}

.new-info {
  font-family: $font;
  margin-left: 73px;
  position: relative;

  .list,
  p {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    color: $c-font;
    letter-spacing: 0;
    line-height: 20px;
    max-width: 518px;
  }

  > span:first-child {
    display: block;
    font-size: 16px;
    color: $c-font;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 22px;
    margin-bottom: 17px;
    margin-top: 30px;
    position: relative;

    &::before {
      content: "";
      background-image: url(../assets/window.png);
      background-repeat: no-repeat;
      position: absolute;
      left: -50px;
      width: 32px;
      height: 32px;
    }
  }
}

.buttons {
  @include dis_flex($justify: flex-end);
  margin-right: 2.5%;
  margin-bottom: 3.4%;
  margin-top: 28px;

  button {
    @include buttons(9px, 35px);
    margin-left: 16px;
    cursor: pointer;
  }

  > button:first-child {
    @include bg_bder_shadow($c-gray-9, $c-font, $c-pink-1, $c-white);
  }

  > button:last-child {
    @include bg_bder_shadow($c-pink-4, $c-font, $c-pink-1, $c-white);
  }
}

.video-container {
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 50vw;
  height: auto;
  padding: 3px 4px;

  @include bg_shadow($c-gray-6, $c-gray-4, $c-white);

  > .video-title {
    font-size: 14px;
    color: $c-white;
    font-weight: 900;
    letter-spacing: 0;
    background-image: $pt-gradient;
    width: 100%;
    padding: 3px 0;
    padding-left: 4px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    &::before {
      content: "";
      background: url("../assets/button3.svg") no-repeat;
      width: 16px;
      height: 16px;
      position: absolute;
      right: 13px;
    }
  }
}

.video-div {
  @include bg_bder_shadow($c-white, $c-gray-3, $c-gray-6, $c-black);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 13px 0 8px;
  padding: 2px;
  width: calc(100% - 21px);

  > video {
    width: 100%;
    position: relative;
  }
}

.video-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 21px;
  margin-bottom: 16px;
  margin-right: 16px;
  align-self: flex-end;

  &:hover > button::before {
    outline: 1px dotted $c-font;
  }

  &:hover > span::before {
    outline: 1px dotted $c-font;
  }

  &:hover > span {
    background-color: $c-pink-3;
  }

  &:hover > button {
    background-color: $c-pink-3;
  }

  > span {
    @include bg_bder_shadow($c-pink-4, $c-font, $c-pink-1, $c-white);
    background-image: url(../assets/camera.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 18px;
    height: 16.5px;
    padding: 18px;
    position: relative;
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;
      top: 3px;
      bottom: 3px;
      right: 3px;
      left: 3px;
    }
  }

  > button {
    @include bg_bder_shadow($c-pink-4, $c-font, $c-pink-1, $c-white);
    @include buttons(9px, 39.5px);
    position: relative;
    outline: 0;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 3px;
      bottom: 3px;
      right: 3px;
      left: 3px;
    }
  }
}

.stop-container {
  display: none;
  justify-content: flex-end;
  align-items: center;
  margin-top: 21px;
  margin-bottom: 16px;
  margin-right: 16px;
  align-self: flex-end;
  width: 100%;
  position: relative;

  .stop-timer {
    @include bg_bder_shadow($c-white, $c-gray-3, $c-gray-6, $c-black);
    font-size: 16px;
    color: $c-font;
    letter-spacing: 0;
    line-height: 22px;
    padding: 7px 13px 7px 21px;
    position: absolute;
    left: 25px;
  }

  .stop-span {
    @include bg_bder_shadow($c-red-2, $c-font, $c-red-1, $c-white, -1px, 1px);
    background-image: url("../assets/recording.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    padding: 18px;
  }

  .stop-btn {
    @include bg_bder_shadow($c-red-2, $c-font, $c-red-1, $c-white, -1px, 1px);
    color: $c-white;
    font-size: 16px;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    padding: 9px 53px;
  }
}
