$font: "Chakra Petch", sans-serif;
// Mixins

@mixin bg_bder_shadow(
  $background,
  $border,
  $f-shadow,
  $s-shadow,
  $px: -1px,
  $px2: 1px
) {
  background-color: $background;
  border: 1px solid $border;
  box-shadow: inset $px $px 0 0 $f-shadow, inset $px2 $px2 0 0 $s-shadow;
}

@mixin bg_shadow($background, $f-shadow, $s-shadow) {
  background-color: $background;
  box-shadow: inset -2px -2px 0 0 $f-shadow, inset 2px 2px 0 0 $s-shadow;
}

@mixin dis_flex($justify: center, $align: center, $f_dir: row, $wrap: nowrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $f_dir;
  flex-wrap: $wrap;
}

@mixin buttons(
  $pad-tb: 0,
  $pad-lr: 0,
  $f-size: 16px,
  $l-height: 18px,
  $t-align: center,
  $weight: 500,
  $color: var(--font)
) {
  font-size: $f-size;
  font-weight: $weight;
  color: $color;
  letter-spacing: 0;
  text-align: $t-align;
  line-height: $l-height;
  padding: $pad-tb $pad-lr;
}
