// Light Theme Colors
$c-black: #000000;
$c-white: #FFFFFF;
$c-font: #110038;

$c-pink-1: #997D97;
$c-pink-2: #CCA6C9;
$c-pink-3: #E6BBE2;
$c-pink-4: #F7C9F3;

$c-gray-1: #808080;
$c-gray-2: #999999;
$c-gray-3: #979797;
$c-gray-4: #B4B4B4;
$c-gray-5: #F0E5EE;
$c-gray-6: #E6E6E6;
$c-gray-7: #E6DCE4;
$c-gray-8: #F0F0F0;
$c-gray-9: #FFF4FD;

$c-blue-1: #4C2F99;
$c-blue-2: #284F99;
$c-blue-3: #4180F6;
$c-blue-4: #3A72DB;

$c-red-1: #993A3A;
$c-red-2: #FF6161;




$font: 'Chakra Petch', sans-serif;


$pt-gradient:  linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);


$secondary-theme-gradient: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);

// Mixins

@mixin bg_bder_shadow($background, $border, $f-shadow, $s-shadow, $px: -1px, $px2: 1px){
    background: $background;
    border: 1px solid $border;
    box-shadow: inset $px $px 0 0 $f-shadow, inset $px2 $px2 0 0 $s-shadow;
}

@mixin bg_shadow($background, $f-shadow, $s-shadow){
    background: $background;
    box-shadow: inset -2px -2px 0 0 $f-shadow, inset 2px 2px 0 0 $s-shadow;
}

@mixin dis_flex($justify: center, $align: center, $f_dir: row, $wrap: nowrap){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $f_dir;
    flex-wrap: $wrap;
}

@mixin buttons($pad-tb:0, $pad-lr: 0,$f-size: 16px, $l-height:18px, $t-align:center) {
    font-family: $font;
    font-size: $f-size;
    font-weight: 500;
    color: $c-font;
    letter-spacing: 0;
    text-align: $t-align;
    line-height: $l-height;
    padding: $pad-tb $pad-lr;
}